@import "bootstrap";

body {
  padding-top: 20px;
}

/* Main home message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}


/* Radio buttons */
label.radio_buttons.required.col-sm-3.control-label {
  padding-top: 0px;
}

span.radio {
  display: initial;
  position: initial;
  label {
    padding-left: 30px;
    input[type="radio"] {
      width: 12.5px;
      height: 12.5px;
    }
  }
}

/* Errors */
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

/* Misc */
#btn-sign{
  a {
    color: #4D4D4D;
  }
  a:hover {
    text-decoration: none;
  }
}
.pagination {
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar.navbar-default {
  margin-left: 10px;
  margin-right: 10px;
}

.container {
  .row {
    h1 {
      margin-bottom: 20px;
    }
    .col-md4 {
      text-align: left;
      width: 20%;
      float: left;
      padding-right: 15px;
      padding-left: 15px;
      h5 a {
        text-decoration: none;
      }
    }
  }  
}


/* Hotels and comments list */
.h-c-list {
  list-style: none;
  padding: 0px;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    width: 50%;
  }
}
.content {
  display: block;
}
.timestamp {
  color: #8B8B8B;
}