.col-md-6
  .panel.panel-info
    .panel-heading Fill in the form, please
    .panel-body
      %form.form-horizontal{role: "form"}
        .form-group
          %label.col-sm-3.control-label{for: "inputEmail3"} Email
          .col-sm-9
            %input#inputEmail3.form-control{placeholder: "Email", type: "email"}/
            %p.help-block Lorem ipsum dolor sit amet
        .form-group
          %label.col-sm-3.control-label{for: "inputPassword3"} Password
          .col-sm-9
            %input#inputPassword3.form-control{placeholder: "Password", type: "password"}/
            %p.help-block Lorem ipsum dolor sit amet
        .form-group
          %label.col-sm-3.control-label{for: "exampleInputFile"} File
          .col-sm-9
            %input#exampleInputFile{type: "file"}/
            %p.help-block Example block-level help text here.
        .form-group
          .col-sm-offset-3.col-sm-9
            .checkbox
              %label
                %input{type: "checkbox"}/
                Active
            %p.help-block Lorem ipsum dolor sit amet
        .form-group
          %label.col-sm-3.control-label Choices
          .col-sm-9
            .checkbox
              %label
                %input#optionsCheckbox1{checked: "checked", name: "optionsRadios", type: "checkbox", value: "option1"}/
                Option one is this and that—be sure to include why it's great
            .checkbox
              %label
                %input#optionsCheckbox2{name: "optionsRadios", type: "checkbox", value: "option2"}/
                Option two can be something else and selecting it will deselect option one
        .form-group
          %label.col-sm-3.control-label Sex
          .col-sm-9
            .radio
              %label
                %input#optionsRadios1{checked: "checked", name: "optionsRadios", type: "radio", value: "option1"}/
                Male
            .radio
              %label
                %input#optionsRadios2{name: "optionsRadios", type: "radio", value: "option2"}/
                Female
            %p.help-block Lorem ipsum dolor sit amet
        %button.btn.btn-default{type: "submit"} Create User