- if user_signed_in?
  .row
    %h1 Top 5 Hotels
    = render 'top_five'
- else
  .jumbotron
    %h1 Welcome to HotelAdvisor!
    %p.lead Been there, liked it, advise it!
    %p
      = link_to "Get started", new_user_registration_path, class: "btn btn-lg btn-success", role: "button"